<div class="contacto">
    <form action="/form-contacto" method="post">
      <h3 class="let" style="color: beige; position: absolute; top:5%">Email</h3>      
      <input id="email"  type="email" name="email" id="email" placeholder="email" />
      <h3 class="let" style="color: beige; position: absolute; top:32%" >Nombre</h3>
      <input id="name" type="text" name="name" id="name" placeholder="nombre" required />
      <h3 class="let" style="color: beige; position: absolute; left: 40.7%; top: -4%;" >Comentario</h3>
     
      <textarea id="comnet"
        required
        name="mensaje"
        id="mensaje"
        cols="30"
        rows="10"
        placeholder="comentario"
      ></textarea>
     <form method="post" >
        <div class="g-recaptcha" data-sitekey="6LfZWu8pAAAAAPAAmUi_TbadMzXIEgNWd0SvHglW" data-callback="verifyCaptcha"></div>
        <div id="g-recaptcha-error"></div>
        <input type="submit" name="submit" value="enviar" />
    </form>
      
   
   
   
  </form>
  

 
    <script src='https://www.google.com/recaptcha/api.js'></script>
      
       <script>
    function submitUserForm() {
        var response = grecaptcha.getResponse();
        if(response.length == 0) {
            document.getElementById('g-recaptcha-error').innerHTML = '<span style="color:red;">This field is required.</span>';
            return false;
        }
        return true;
    }
     
    function verifyCaptcha() {
        document.getElementById('g-recaptcha-error').innerHTML = '';
    }
    </script>


</div>

 