<!DOCTYPE html>
<html>

<head>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BYT76VXNXC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BYT76VXNXC');
</script>
  
  <title> currículum vitae</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
</head>
<body>
  <section id="fondo">
    <h2 class="sub">Acerca de mi </h2>
    <p>CI:31.562.484</p>
    <p>Sexo:Masculino</p>
    <P>Edad:18 años</P>
    <h2 class="sub">contacto</h2>
    <p>0412-1588754</p>
    <a href="https://www.facebook.com/profile.php?id=100076553688951&mibextid=ZbWKwL">facebook</a>
    <P></P>
    <a href="https://github.com/JeanDtorres/P2_31562484/tree/setup">GiHtub</a>
    <p></p>
    <a href="https://www.instagram.com/jeanarteagas?igsh=MTkydG94MnlqMzZqMA==">Instagram</a>
    <dev>
      <h2 class="sub">curso</h2>
      <ul>
        <p>2023</p>
        <li>Curso completo de C++ gratis </li>
        <P>2024</P>
        <li>Aprende GIT ahora! curso completo GRATIS desde cero</li>
        <P>2024</P>
        <li>Aprende HTML ahora! curso completo GRATIS desde cero</li>
      </ul>
    </dev>
    <p id="fot"></p>
  </section>
  <section id="p2">
    <div>
      <h1 class="titulo">Jean Torres</h1>
      <p class="titulo">Programador junior</p>
    </div>
    <h2 class="ff">Expereriencia laboral</h2>
    <ul>
      <p>2023-2024</p>
      <li>Proyecto PAZTA</li>
      <p>2024-2024</p>
      <li>Zapato web</li>
    </ul>
    <h2 class="ff">Estudios</h2>
    <ul>
      <h3>primaria</h3>
      <li>U.N.B"Juan Antonio Pérez Bonalde"<br>(2010-2016)</li>
      <h3>Secundaria</h3>
      <li>U.E.P"Juan De Bolivar Y Villegas"<br>(2016-2022)</li>
      <h3>Universidad</h3>
      <li>Universidad Nacional Experimental Rómulo Gallegos<br>(2022-actualidad)</li>
    </ul>
    <h2 class="ff">Habilidades</h2>
    <ul>
      <p>html</p>
      <p>c++</p>
      <p>javasacrip</p>
      <p>css</p>
    </ul>
    <h2 class="ff">Lenguage</h2>
    <lu>
      <li>espanol</li>
      <li>ingles</li>
    </lu>
  </section>

  <%- include('./components/contancto.ejs') %>
   
  
</body>


</html>