body {
 
  padding: 50px;
  font: 14px "a", Helvetica, Arial , sans-serif;
 
}

a {
  color: #00B7FF;
}

#fondo{
  font-family: sans-serif;
  border-top-left-radius:150px ;
  border-top-right-radius:150px ;
  padding-top: 280px;
  padding-left:10px ;
  width: 280px ;
  height: 600px ;
  background-image: url('../images/og.png');
  background-repeat: no-repeat;
  color: rgb(245, 245, 245);
  border-color: #3c3c3f;
  border-width: 5px;
  border-style: solid;

  
  
}

#p2 {

  font-family: sans-serif;
  font-weight: 500;
  color: #020202;
  text-align: left;
  padding-right: 100px;
  margin-top: -850px;
  padding-left: 380px;
  width: 385px;

}
  
div h1.titulo{

  font-family: "Montserrat", sans-serif;
  text-align: center ;
  font-size: 50px;
  font-weight: 460;
  margin-bottom: 0px;
  text-decoration: underline;
  text-decoration-color: #947651;
  letter-spacing: 3px;
}

div p.titulo{

  font-family: fantasy;
  text-align: center ;
  font-size: 15px;
  font-weight: 600;
  margin-top: 0px;
}

.sub{

  background-color: rgb(185, 128, 41);
  background-image: url('../images/ff.png');
  position:relative;
  right:50px ;
  padding-left: 43px;
  border-color: #3c3c3f;
  border-width: 5px;
  border-style: solid;


}

.ff{

  background-color: rgb(185, 128, 41);
  background-image: url('../images/ff.png');
  border-color: #140d04;
  border-width: 5px;
  border-style: solid;


}
  
#fot{
background-image: url('../images/ih.png');
background-repeat: no-repeat;
height: 175px;
width: 170px ;
border-radius: 200px;
position: relative;
bottom: 820px;
left: 49px;
border-color: #fcfeff;
border-width: 5px;
border-style: solid;
}

.contacto{
 background-image: url('../images/og.png');
border-width: 5px;
background-repeat: no-repeat;
position:absolute;
padding: 20px;
margin-top: 20px;
margin-left: 40px;
border-style: inset;
border-width: 5px;
border-color: #947651;
}

#email{
  position: absolute;
  top: 24%;
  border-style: inset;
  border-width: 3px;
 border-color: #947651;

}
#name{
  position: absolute;
  top: 50%;
  border-style: inset;
  border-width: 3px;
 border-color: #947651;

  
}

#comnet{
  margin-top:10px;
  margin-left: 200px;
  border-style: inset;
  border-width: 3px;
 border-color: #947651;
}

div h3.let{
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}




.contactos{
 
  color: rgb(0, 0, 0);
  text-align: center;
 
  
}

.title-contactos{
  text-align: center;
  color: aliceblue;
  border-style: inset;
 
}

.none{

  background-image: url('../images/og.png');
}

.frodo{
  font-family: "Montserrat", sans-serif;

  text-decoration: underline;
  text-decoration-color: #947651;
  letter-spacing: 1px;



}

div .boor{
position: relative;
bottom: auto;
left: 410px;
top: 300px;


}

.llogin{

  background-image: url('../images/og.png');
  border-width: 5px;
  background-repeat: no-repeat;
  position:absolute;
  padding: 20px;
  margin-top: 20px;
  margin-left: 40px;
  border-style: inset;
  border-width: 5px;
  border-color: #947651;
  text-align: center;
  right: 564px;
  color: aliceblue;

}